<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link rel = "Stylesheet" href = "css/bootstrap.css">
        <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <script src = "js/jquery-3.4.1.min.js"></script>
        <script src = "js/bootstrap.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="">FLashboard</a>
        </nav>
            <div class = "container-fluid">
                <div class = "row">
            <nav class = "col-md-2 d-none d-md-block bg-light sidebar">
                <div class = "sidebar-sticky">
                    <ul class = "nav flex-column">asdf</ul>
                </div>
            </nav>
            <main role = "main" class = "col-md-9 ml-sm-auto col-lg-10 px-4">
