<%- include("partials/header") %>


<link rel = 'stylesheet' href = '/css/jquery.timepicker.min.css'>
<link rel = 'stylesheet' href = '/css/jquery-ui.min.css'>
<link rel = 'stylesheet' href = '/css/batchAdd.css'>
<script src = '/js/jquery/jquery-ui.min.js'></script>
<script src = '/js/jquery/jquery.timepicker.min.js'></script>
<script src = '/js/batchAdd.js'></script>
<script src = '/js/moment.min.js'></script>

<script>
var tracks = <%- JSON.stringify(tracks) %>
</script>

<div class = 'container'>


<button id = 'clearSelections' class="btn btn-danger" type="button">Clear selections</button>
<div id = 'datepicker'></div>
<div class = 'buttons'>

<div class = 'savedelete'>
<button id = 'save' type="button" class="btn btn-success">Add</button>
<button id = 'delete' type="button" class="btn btn-danger">Delete</button>
</div>

<p>
    <button id = 'editlive' editLive = 'false' class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Edit Live Day
    </button>
</p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            
                
                    <div class = 'liveday'>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <button id = 'livedayprepend' class="btn btn-danger live" type="button" value = "false">Live Day</button>
                            </div>
                        <input type="text" class="form-control timepicker2 posttime" id="liveposttime" placeholder = 'post time' aria-describedby="livedayprepend" required>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="collapse show" id="collapseExample">
    <div class="card card-body">


<table class="table table-striped">
        
        
    <thead>
        <th scope="col">Track Name</th>
        <th scope="col">Post Time</th>
        <th scope="col">Notes</th>
    </thead>
            <tbody id='yes'>
                <tr class = 'cloneItem'>
                    <td>
                        <input type="text" class="form-control name" value = "">
                    </td>
                    <td>
                        <input class="timepicker2 time2" value = "">
                    </td>
                    <td>
                        <input class="notes" value = "">
                    </td>
                </tr>
        </tbody>
    </table>

</div>
</div>



    <table class="table table-striped">
        <thead>
            <th scope="col">Subtitle top</th>
            <th scope="col">Subtitle middle</th>
            <th scope="col">Subtitle bottom</th>
        </thead>
        <tbody id='yes'>
            <tr class = 'subtitles'>
                <td>
                    <input type="text" class="form-control subtitle3" value = "">
                </td>
                <td>
                    <input type="text" class="form-control subtitle1" value = "Doors Open 11:30">
                </td>
                <td>
                    <input type="text" class="form-control subtitle2" value = "">
                </td>
            </tr>
    </tbody>
    </table>

</div>


<iframe id = 'htmlCal' class = 'htmlCal' src="/schedule/rcn/calendar/html" height="842" width="50%"></iframe>