<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link rel = "Stylesheet" href = "/css/bootstrap.css">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <script src = "/js/jquery/jquery-3.4.1.min.js"></script>
        <script src = "/js/bootstrap.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
    </head>
    <body>

<link rel = 'stylesheet' href = '/css/monthly.css'>
<script src = '/js/monthly.js'></script>
<script src = '/js/calendar.js'></script>
<script src = '/js/moment.min.js'></script>

<div class = 'container1' style = 'page-break-inside: avoid !important'>
<div class = 'block'>
    <h1 id = 'trackName'>Finger Lakes Race Track</h1>
</div>
<h5 id = 'subtitle'>January 2020 live/simulcast racing schedule</h5>



<div class="monthly" id="mycalendar"></div>
</div>


                </div>
            </div>
    </body>
</html>