<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <link rel = "Stylesheet" href = "/css/bootstrap.css">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <script src = "/js/jquery/jquery-3.4.1.min.js"></script>
        <script src = "/js/bootstrap.js"></script>
    </head>
    <body>

<link rel = 'stylesheet' href = '/css/monthly.css'>
<script src = '/js/monthly.js'></script>
<script src = '/js/calendar.js'></script>
<script src = '/js/moment.min.js'></script>

<div class="monthly" id="mycalendar"></div>



                </div>
            </div>
    </body>
</html>