<%- include("partials/header") %>
<link rel="stylesheet" href="/css/index.css">
<script src = "/js/index.js"></script>

<div class="card">
    <p class="card-header"><span class="oi oi-fork"></span>Decoder 1</span>
        <a class = "btn" data-toggle="collapse" data-target="#collapse1"><span class="oi oi-chevron-bottom" id = "arrow"></span></a>
    </p>
        <div class = "collapse" id="collapse1">
            <div class="card-body">
                <p>decoder is online!</p>
                <p>Channel 1978</p>
            </div>
        </div>
</div>

                </main>
            </div>
        </div>
    </body>
</html>