<%- include("partials/header") %>
<link rel="stylesheet" href="/css/index.css">
<script src = "/js/index.js"></script>

<div class="card">
    <p class="card-header"><span class="oi oi-fork"></span>Decoder 1</span>
    
    </p>
</div>

<%- include("partials/footer") %>