.buttons {
    display: block;
    padding-top: 5px;
    padding-bottom: 20px;
}

.containerz {
    text-align: center;
}

#live {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#picker {
    padding: 8px;
}

.liveday {
    padding-top: 10px;
}

#save {
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.hasDatepicker {
    margin-top: 20px;
    margin-left: -120px;
}

.input-group {
    width: 300px;
    margin: auto;
    padding-bottom: 10px;
}

#goBack {
    display: block;
    float: left;
    padding: 10px;
}