/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
	background-image: url('../images/noise.png');
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;/* text color of main content */
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
	margin: 0;
    padding-bottom: 10px;
    line-height: 1.6em;
}

img
{
    border-style: none;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;

    text-transform: none;
    font-weight: 600;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.8em;
	font-weight: 600;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;    
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page
{
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}


.main
{
	position:relative;
    padding: 0px 12px;
    margin: 12px 8px 0 8px;
    min-height: 400px;
}
.splashImg {
	margin: -12px -20px 0 -20px;	
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
	background-color: #ffffff;
    color: #4e5766;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}
div.hideSkiplink > a {
	padding:0;
	margin:0;
	width:0;
	height:0;
	display:none;
}

div.menu
{
    padding: 4px 0px 4px 8px;
	width: 100%;
}

div.menu ul
{
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    width: auto;
	margin-left: 14px;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 15px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #605c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

.tracklist
{
}

.tracklist TD
{
	width: 250px;
}

.schedulelist
{
	border-collapse:collapse;
	border:1px none black;
}

.schedulelist TD
{
	border:1px none black;
}

.schedulegrid
{
	font:normal 10pt arial;
	border-collapse:collapse;
	border:1px none black;
	text-align:left;
}

.schedulegrid TD
{
	border:1px solid black;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
	margin-top: 10px;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.normal
{
	font-size: 12px;
}

/* swilson additions - 2012.04.11
----------------------------------------------------------*/
#container {
	width:960px;
	margin:20px auto;
	position: relative;
}
.scheduleContainer {
	overflow: auto;
}
#rtnad {
	width: 917px;
	margin: 0 auto 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
}
#tempmenu {
	list-style: none;
	margin: 0;
	padding: 0;
}
#tempmenu li {
	list-style: none;
	margin: 0;
	padding: 10px;
	float: left;	
}
.indented {
	width: 800px;
	margin: 0 auto;
}
.fineprint {
	font-size: 80%;
	color: #666;
	width:550px;
	display:inline-block;
	text-align:center;
}

h3.blurbHeader {
	font-size: 20px;
	margin: 5px 0;
	padding: 0;
	color: #000;
}
.blurbItem:not(:last-child) {
	padding-bottom: 25px;
	border-bottom: #666 3px double;
	margin-bottom: 25px;
}


#loginContainer {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px;
	width: 410px;
	height: 45px;
	text-align: center;
	border: #333 1px solid;
	border-radius:10px;
	background-color: #dce0e9;
	color: #225;
	font-size: 11px;
}
#loginHeader {
	margin: 0;
	padding: 0;
	
}
#loginMessage {
	position: absolute;
	right: 15px;
	top: 100px;
	width: 210px;
	text-align: center;
}
#loginContainer2, #login2 {
	display:none;	
}
#loginContainer label {
	display: inline-block;
	width: 65px;
}
#loginContainer input {
	width: 75px;
	border: #1d60ff;
	border-radius: 5px;
	background-color: #f9f9f9;
	margin:  2px 0;
	padding: 2px 5px;
}
#loginContainer input[type=submit] {
	margin-top: 5px;
	background-color: #496077;
	color:#fff;
	margin-left: 20px;
}
#loginContainer input[type=submit]:hover {
	color: #fff;
	background-color: #6b8299;
}
.big {
	font-size:2em;
	font-weight:bold;
	line-height:1.8em;
}
.underlineBlue {
	color:#3A4F63;
	text-decoration:underline;
}
.center {
	width:100%;
	text-align:center;	
}
table#subscriptionRates {
	text-align:left;
	width:700px;
	display:inline-block;
	font-size:120%;
}
table#subscriptionRates tr td {
	vertical-align:top;
	padding: 0 20px 0 0;
	margin:0;
	line-height:200%;
}
table#subscriptionRates tr td.subtype {
	font-weight:bold;
	text-align:right;
}

#splashInfo {
	position:absolute;
	left:371px;
	top:385px;	
	width:531px;
	height:373px;
	overflow:hidden;
}

#packageInfo-tv, #packageInfo-online, #packageInfo-mobile {
	position:absolute;
	left:371px;
	top:385px;	
	width:531px;
	height:373px;
	overflow:hidden;
	display:none;
}

#packageTrigger-tv, #packageTrigger-online, #packageTrigger-mobile {
	position:absolute;
	top:0px;
	width:130px;
	height:100px;
}
#packageTrigger-tv { left: 385px; }
#packageTrigger-online { left: 572px; }
#packageTrigger-mobile { left: 760px; }
#packageArrow {
	background-image:url('../images/arrow.png');
	width:100px;
	height:15px;
	position:absolute;
	left:400px;
	top:355px;
	display:none;
}
.package-list {
	margin:0;
	padding:0;
	font-size:1.5em;
	text-align:left;
	width:650px;
	margin: 0 auto;
}
.package-list li {
	margin: 0;
	padding: 5px 0;
}
	.package-list .smallprint {
	color:#666;
	font-size:0.75em;
	line-height:0.75em
}
.package-price {
	display:inline-block;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#FF1D23;
	padding:3px 5px;
	color:#eef;
	font-size: 1.3em;
	text-align: center;
	width: 34px;
	box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	-ms-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
}

.fewtext {
	float: left;
	margin-top: 8px;
}	
.pricematrix {
	margin: 20px auto;
	border-collapse: separate;
	border-spacing: 5px;
}
.pricematrix th {
	width: 60px;
	font-size: 1.2em;
	color: #171717;
}
.pricematrix th, .pricematrix td {
	padding: 5px;
	text-align: center;	
}

.pricematrix .rowheader {
	font-size: 1.2em;
	background-color: #3A4F63;
	color: #fff;
}
.pricebox {
	text-align: left;
	width: 33.33%;
	float: left;
}
.package-price-line {
	font-size:1.2em;
	margin-left: 10px;
}
.mainpricebox {
	clear: both;
}
.rtn-signup-button {
	display:inline-block;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border:#69F 1px solid;
	background-color:#06456a;
	padding:5px 15px;
	color:#eef;
	font-weight:bold;
}
#otherpackages img {
	width:300px;
	margin:10px 30px;	
}
.launching-star {
	position:absolute;
	top:10px;
	right:10px;
}

/* Signup */
#progressMeter {
	width:960px;
	margin: 30px 0 0 -20px;
}
#progressMeter img
{
    width: 960px;
}
table.signup .label {
	width:150px;
	text-align:right;
	vertical-align:top;
}
table.signup .input {
	width: 250px;
}
table.signup input {
	width: 250px;
}
table.signup .submit {
	padding-top:20px; text-align:center;
}
table.signup .checkboxtd {
	vertical-align:top;
	text-align:right;
}
table.signup input[type="checkbox"] {
	width: 30px;
}
table.signup input[type="submit"], table.account input[type="submit"] {
	margin-top: 5px;
	background-color: #496077;
	color:#fff;
	margin-left: 20px;
	width:100px;
}

table.signup .checkboxDiv {
	float:left;
	width:30px;
}
table.signup .checkboxLabel {
	float:right;
	width:350px;
}
table.signup .sectionHeader {
	font-size:1.25em;
	font-weight:800;
	color:#285da8;
	padding:20px 0 5px;
	border-bottom:1px solid #285da8;
}
		
table.signup #formIssuesDiv {
	vertical-align:top;
	padding:25px;
	font-size:14px;
	color:#900;
	width:425px;
}
table.signup .requiredMissing {
	vertical-align:top;
	padding:0 0 0 10px;
	color:#900;
	width:425px;
}
table.signup .informative {
	text-align:center;
	font-size:11px;
}
table.signup .back, table.account .back {
	text-align:left;
}
table.signup .next {
	text-align: right;
}
table.signup select {
	width:250px;
}
table.purchase {
	width: 900px;
	table-layout: fixed;
}
table.purchase .packageDetails_header {
	font-size:18px;
	font-weight: bold;
	white-space: inherit !important;
}
table.purchase .input {
	400px;
}
table.purchase .packageDetails_price {
	float: left;
	margin-bottom: 50px;
	margin-top: 0px;
}
table.signup2 {
	width: 920px;
}
table.signup2 td {
	padding-bottom:25px;
}
table.signup .notify {
	text-align:center;
	padding: 15px 0;
	color:#c60;
}
table.signup2 .label {
	vertical-align:top;
	padding-top:6px;
	padding-right: 10px;
}
table.signup2 input {
	width: 50px;
}
table.signup2 .input {
	width: 500px;
}
table.signup2 .requiredMissing {
	width: 425px;
}
table.signup2 .packageDetails_header {
	font-size:18px;
	font-weight: bold;
}
table.signup2 .packageDetails_price {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #FFF 1px solid;
	background-color: #FF1D23;
	padding: 3px 5px;
	color: #FFF;
	font-weight: bold;
    margin-bottom: 40px;
}
table.signup2 select {
	width:60px;
}

table.signup2 .single-track-package-dropdown{
	padding-left: 10px;
}


table.signup3 select {
	width:125px;
}
.packageDetails_description {
 font-style:italic;	
 margin-left:20px;
}

.underline {
	text-decoration:underline;
}
.aligntop {
	vertical-align: top;
}
.alignbottom {
	vertical-align: bottom;
}


.hidden {
	display:none;
}
.error {
	text-align:center;
	margin:0 auto;
	width:700px;
	background-color:#fcc;
	border:#666 1px solid;
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;
	padding:15px;
}
.notify-good {
	text-align:center;
	margin:0 auto;
	width:700px;
	padding:5px;
	color:#090;
	font-weight:600;
}

table.account input[type="submit"] {
	width:160px;
}
table.accounthome td {
	padding-top:30px;
	vertical-align: top;
}
table.account h3 {
	margin:0;
}

.notify {
	color:#c60;
}
.requiredMissing {
	color:#900;
}

.green {
	color:#090;
}
.red {
	color:#900;
}

.accountHistory {
	width:900px;
}
.accountHistory th {
	text-align:left;
	font-size:1.4em;
}
.accountHistory td {
	vertical-align: top;
}

.logoutBar a {
	color: #3A4F63;
	font-weight:600;
	text-decoration:none;
	float:right;
}

.logoutBar a:hover {
	color: #034af3;
}

.returnbutton input {
	margin-top: 5px;
	background-color: #496077;
	color: #fff;
	margin-left: 20px;
	cursor:pointer;
}

.input input[type="text"] {
	width:250px;
}
.purchase .input select {
	width: 125px !important;
}

#MainContent_singletrackselection {
	width: 175px !important;
}

.textbutton {
	margin:30px;
	color:#222;
	font-size:2em;
}

.headerlink {
	float:right;
	line-height:30px;
	font-size:25px;
	margin:20px 15px 0 0;
	color:#3a4f63;
	text-align:right;
}
.headerlink .smaller {
	font-size: 18px;
}
.headerlink a {
	color:#3a4f63;
	text-decoration:none;
}




.headernavlink {
	float:right;
	line-height:20px;
	font-size:18px;
	padding:5px 15px 5px 5px;
	color:#DDE4EC;
	background-color:#3a4f63;
	text-align:right;

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	font-weight:800;
}
.headernavlink a {
	/**font-weight:normal;**/
	color:#fff;
	font-size:18px;
	font-weight:800;
	text-decoration:none;
}

.customselect {
 	font-size:1.3em;
}
.custlinkbtn {
	background-color: #3A4F63;
	color: #ffffff !important;
	padding: 5px 10px;
	border: 2px solid #777;
}
.simulcast_table {
	border: 1px solid #000;
	margin: 0px auto;
	border-collapse: collapse;
	margin-bottom: 10px;
}
.simulcast_table th, .simulcast_table td {
	padding: 5px;
}
.simulcast_table th {
	font-size: 1.1em;
	text-align: left;
}
.custbutton {
	text-decoration: none;
	font-size: 1.4em;
	background: #0065B3;
	color: #fff !important;
	padding: 2px 10px;
	border-radius: 10px;
}
.custbutton:hover , .custbutton:hover{
	background: #0C3F78;
}
.submatrix {
	border-collapse: separate;
	border-spacing: 5px;
}
/** added 2016-09-28 **/
.container {
	border: 1px solid #777;
	padding: 10px;
	margin-top: 10px;
    margin-left: -10px;
	width: 100%;
	border-radius:8px;
	float: left;
    text-align: left;
}
h1.rokuheader {
	font-weight: bold;
	color: #1A1A81;
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 10px;
    text-align: left;
    font-size: 1.15em;
}
ul.proc {
	margin-left: 10px;
    list-style: none;
}
ul.proc li {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	color: #333;
	line-height: 1.45em;
}
ul.proc li:not(.nobullet):before {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url('../images/bullet.png');
	background-size: 30px 30px;
	position: absolute;
	top: -6px;
	left: -25px;
}
.graphics {
	height: 200px;
	width: 950px;
	text-align: center;
}
.numberCircle {
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */

	width: 14px;
	height: 14px;
	padding: 2px;

	background: #1A1A81;
	border: 2px solid #fff;
	color: #fff;
	text-align: center;

	font: 12px Arial, sans-serif;
	float: left;
	margin-right: 20px;
}
/**
	MODIFIED 01-09-2017
**/
.pricingmatrix {
	padding: 2px;
	margin: 5px auto;
	width: 90%;
	border-collapse: collapse;
}
.pricingmatrix td {
	border: 1px solid #111;
	padding: 4px;
}
.pricingmatrix tr {
	background: #E1E1E1;
}
.headerlabel {
	text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 55px;
    background-color: #0C6CC3;
    color: #f1f1f1;
	display: inline-block;
}
.headerlabel  h2 {
	font-size: 1em !important;
	color: #fff;
	text-transform: uppercase;
}
.packagename {
	text-align: center;
}
.packagename h2 {
	font-size: 1.1em;
    color: #111;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ddd, 3px 3px 5px #eee;
}
.packagename a {
	text-decoration: none;
    color: #f1f1f1;
    width: 120px;
    display: inline-block;
    height: 20px;
    border-radius: 10px;
	background-color: #2B6ED9;
}
.planlist {
	margin: 0px;
    padding: 0px;
    list-style: none;
}
.pricelabel {
	float: left;
    font-size: 1.5em;
    color: #fff;;
	width: 40px; 
  	height: 40px;
  	background-color: #FF1D23;
  	position: relative;
  	margin-top: 2%;
  	border-radius: 5px;
}
.pricelabel p {
	text-align: center;
    font-size: 1em;
    text-shadow: 1px 1px 1px #ddd;
    line-height: 2em;
}
.pricelabel.smaller {
	font-size: 1.3em;
}
.plandesc {
	font-size: 1.1em;
    display: inline-block;
    color: #000;
    padding: 0px;
    text-align: left;
    margin-left: 4px;
    float: left;
    width: 140px;
    line-height: 1.3em;
    text-shadow: 1px 1px 1px #888;
}
.hd::after {
	content: "";
	background:url('https://www.rtn.tv/tracks/RTN_Logo_HD.001.jpeg');
	background-size: cover;
	float: right;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.roku::after {
	content: "";
	background:url('https://www.rtn.tv/images/rokulogo.png');
	background-size: cover;
	margin-right: 30px;
	float: right;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.singletrackslist h4 {
	text-align: left;
	margin-left: 20px;
	margin-top: 0px;
}
.singletrackslist ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.singletrackslist ul li {
	text-align: left;
	margin-left: 20px;
}
.legend {
	text-align: left;
	margin-left: 5%;
	list-style-type: circle;
}
.features img {
	display: block;
	margin-top: 3px;
}
.legenddesc {
	display: inline-block;
}
.legend img {
	position: relative;
	top: 4px;
}
.legend {
	width: 420px;
}
.packlabel {
    display: block;
}

/** LANDING PAGE */
.lp_header {
    background-image: url(../images/lp_header_2.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 400px;
}
.lp_sub_header {
    color: #fff;
    font-size: 2.5em;
    padding-left: 80px;
    padding-top: 120px;
    text-transform: uppercase;
}
.lp_main_header {
    color: #fff;
    font-size: 5em;
    padding-left: 80px;
    margin-top: -10px;
}
.lp_body {
    height: 620px;
    
}
li.lp_rokudesc {
    padding-top: 30px !important;
    height: 80px !important;
    padding: 0px !important;
    padding-top: 20px !important;
}
li.lp_rokudesc::before {
    content: '';
    background-image: url(../images/rokulogo.png);
    width: 60px;
    height: 33px;
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
}
.lp_hddesc {
    padding-top: 30px !important;
    height: 80px !important;
    padding: 0px !important;
}
.lp_hddesc::before {
    content: '';
    background-image: url(../tracks/RTN_Logo_HD.001.jpeg);
    width: 35px;
    height: 35px;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 8px;
}
.lp_cont {
    background-image: url(../images/lp_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: -200px;
}
#pricing_cont {
    margin-top: 50px;
    margin-left: 4%;
}
.pricing_tab {
    width: 300px;
    height: 530px;
    background-color: #eee;
    float: left;
    margin-left: 10px;
}
.pricing_tab_header {
    background-color: #111;
    color: #fff;
    width: 100%;
    height: 80px;
    font-size: 1.9em;
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.lp_pricing_header {
    display: block;
    color: #a7be53;
}

li.unlimited_li {
    font-size: 0.42em !important;
    height: 10px !important;
    text-align: left !important;
    display: list-item !important;
    padding-left: 20px !important;
    list-style-type: square !important;
}
h4.unlimited {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1em !important;
    text-decoration: underline !important;
}
.lp_descriptions ul {
    list-style: none;
    list-style-position:inside;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}
.lp_descriptions li {
    text-align: center;
    display: block;
    height: 100px;
    padding: 10px;
    position: relative;
    font-size: 0.9em;
}

.lp_descriptions ul.mainu > li::after {
    content:  url('../images/line.png');
    display: block
}
.lp_actions {
    text-align: center;
    margin-top: 20px;
}
.lp_images {
    display: block;
    width: 30%;
    margin: 0px auto;
}

.lp_button {
  border: none;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.lp_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.othes_packge_actions {
    text-align: center;
    margin-top: -45px;
}

.lp_red {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #8f0d27);
  background-image: -moz-linear-gradient(top, #d93434, #8f0d27);
  background-image: -ms-linear-gradient(top, #d93434, #8f0d27);
  background-image: -o-linear-gradient(top, #d93434, #8f0d27);
  background-image: linear-gradient(to bottom, #d93434, #8f0d27);
}

/***ROKU PAGE ***/
.RokuInstructionContainer {
	width: 80%;
	margin: 20px auto 0px auto;
	padding: 0 10px 10px 10px;
	border: solid 4px #662D91;
	border-radius: 10px;
	background-color: #F5F5F5;
} 

h3.RokuInstructionHeader {
	border-bottom: 4px solid #ccc;
	padding-bottom: 15px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	font-size: 2em;
	color: #000;
} 

h4.RokuInstructionHeader {
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	color: #000;
	display: inline-block;
} 

.RokuInstructionContent {
	padding-left: 35px;
    text-align: left;
} 

.RokuInstructionContent ul {
	padding: 10px 0 15px 55px;
	margin: 0;
} 

.RokuInstructionImageContainer {
	padding-bottom: 10px;
	text-align: center;
	height: 300px;
	width: 100%;
} 

.RokuInstructionContent ol {
	list-style-type: none;
	counter-reset: elementcounter;
	padding-left: 0;
} 

.RokuInstructionContent li {
	margin-top: 10px;
} 

.RokuInstructionContent p {
	margin: 5px 0 0 30px;
} 

.RokuInstructionContent ol li:before {
	color: #662D91;
	content: "Step " counter(elementcounter) ":	" ;
	counter-increment:elementcounter;
	font-weight: bold;
}
.promoform {
    margin-left: 20px;
}
/*Amazon Help*/
.Section
{
  text-align: center;
  margin: 20px auto 0 auto;
  color: #1C1919;
  border: 5px solid #FF9B00;
  border-radius: 20px;
  padding: 0 10px 10px 10px;

  width: 80%;
}

.Section h3
{
  font-size: 2em;
  border-bottom: 3px solid grey;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.Section h4
{
  display: inline-block;
  font-size: 1.4em;
  margin: 0;
  padding: 5px 0 0 0;
}

.Section .Content
{
  padding-left: 35px;
  text-align: left;
}

.Section .Content ul
{
  padding: 10px 0 15px 55px;
}

.Section .Content li
{
  margin-top: 10px;
}


.Section .Content ol li:before
{
  color: #FF9B00;
  content: "Step " counter(elementcounter) ":	" ;
	counter-increment:elementcounter;
	font-weight: bold;
}


.Section .Content ol
{
  list-style-type: none;
	counter-reset: elementcounter;
	padding-left: 0;
}

.Section .Content li p
{
  margin: 5px 0 0 30px;
}


